#loginfaces-u-black-right-eye_to {
  animation: loginfaces-u-black-right-eye_to__to 3000ms linear infinite normal
    forwards;
}
@keyframes loginfaces-u-black-right-eye_to__to {
  0% {
    transform: translate(760.258392px, 335.971375px);
  }
  33.333333% {
    transform: translate(760.258392px, 335.971375px);
  }
  50% {
    transform: translate(760.258392px, 319.971375px);
  }
  73.333333% {
    transform: translate(760.258392px, 335.971375px);
  }
  100% {
    transform: translate(760.258392px, 335.971375px);
  }
}
#loginfaces-u-orange-right-eye_ts {
  animation: loginfaces-u-orange-right-eye_ts__ts 3000ms linear infinite normal
    forwards;
}
@keyframes loginfaces-u-orange-right-eye_ts__ts {
  0% {
    transform: translate(470.772308px, 712.406219px) scale(1.386947, 1.386947);
  }
  33.333333% {
    transform: translate(470.772308px, 712.406219px) scale(1.386947, 1.386947);
  }
  66.666667% {
    transform: translate(470.772308px, 712.406219px) scale(1.002909, 1.002909);
  }
  100% {
    transform: translate(470.772308px, 712.406219px) scale(1.386947, 1.386947);
  }
}
#loginfaces-u-orange-left-eye_ts {
  animation: loginfaces-u-orange-left-eye_ts__ts 3000ms linear infinite normal
    forwards;
}
@keyframes loginfaces-u-orange-left-eye_ts__ts {
  0% {
    transform: translate(324.520432px, 712.547028px) scale(1.386947, 1.386947);
  }
  33.333333% {
    transform: translate(324.520432px, 712.547028px) scale(1.386947, 1.386947);
  }
  66.666667% {
    transform: translate(324.520432px, 712.547028px) scale(1.002909, 1.002909);
  }
  100% {
    transform: translate(324.520432px, 712.547028px) scale(1.386947, 1.386947);
  }
}
#loginfaces-u-black-left-eye_to {
  animation: loginfaces-u-black-left-eye_to__to 3000ms linear infinite normal
    forwards;
}
@keyframes loginfaces-u-black-left-eye_to__to {
  0% {
    transform: translate(699.16333px, 336.105118px);
  }
  33.333333% {
    transform: translate(699.16333px, 336.105118px);
  }
  50% {
    transform: translate(699.16333px, 320.105118px);
  }
  73.333333% {
    transform: translate(699.16333px, 336.105118px);
  }
  100% {
    transform: translate(699.16333px, 336.105118px);
  }
}
#loginfaces-u-black-right-eye2_to {
  animation: loginfaces-u-black-right-eye2_to__to 3000ms linear infinite normal
    forwards;
}
@keyframes loginfaces-u-black-right-eye2_to__to {
  0% {
    transform: translate(763.110413px, 336.021423px);
  }
  33.333333% {
    transform: translate(763.110413px, 336.021423px);
  }
  50% {
    transform: translate(763.110413px, 320.021423px);
  }
  73.333333% {
    transform: translate(763.110413px, 336.021423px);
  }
  100% {
    transform: translate(763.110413px, 336.021423px);
  }
}
#loginfaces-u-black-right-eye2_ts {
  animation: loginfaces-u-black-right-eye2_ts__ts 3000ms linear infinite normal
    forwards;
}
@keyframes loginfaces-u-black-right-eye2_ts__ts {
  0% {
    transform: scale(1, 1);
  }
  10% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1, 2);
  }
  56.666667% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}
#loginfaces-u-blue-left-eye-black_to {
  animation: loginfaces-u-blue-left-eye-black_to__to 3000ms linear infinite
    normal forwards;
}
@keyframes loginfaces-u-blue-left-eye-black_to__to {
  0% {
    transform: translate(451.517426px, 72.946117px);
  }
  53.333333% {
    transform: translate(444.517426px, 72.946117px);
  }
  100% {
    transform: translate(454.517426px, 72.946117px);
  }
}
#loginfaces-u-blue-right-eye-black_to {
  animation: loginfaces-u-blue-right-eye-black_to__to 3000ms linear infinite
    normal forwards;
}
@keyframes loginfaces-u-blue-right-eye-black_to__to {
  0% {
    transform: translate(563.40686px, 73.2295px);
  }
  53.333333% {
    transform: translate(556.40686px, 73.2295px);
  }
  100% {
    transform: translate(566.40686px, 73.2295px);
  }
}
#loginfaces-u-black-left-eye_black_to {
  animation: loginfaces-u-black-left-eye_black_to__to 3000ms linear infinite
    normal forwards;
}
@keyframes loginfaces-u-black-left-eye_black_to__to {
  0% {
    transform: translate(701.890717px, 335.995743px);
  }
  33.333333% {
    transform: translate(701.890717px, 335.995743px);
  }
  50% {
    transform: translate(701.890717px, 319.995743px);
  }
  73.333333% {
    transform: translate(701.890717px, 335.995743px);
  }
  100% {
    transform: translate(701.890717px, 335.995743px);
  }
}
#loginfaces-u-black-left-eye_black_ts {
  animation: loginfaces-u-black-left-eye_black_ts__ts 3000ms linear infinite
    normal forwards;
}
@keyframes loginfaces-u-black-left-eye_black_ts__ts {
  0% {
    transform: scale(1, 1);
  }
  10% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1, 2);
  }
  56.666667% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}
